@model LawyersApp.Models.Media.MediaViewControl
    <style type="text/css">
        div.k-edit-form-container {
            width: 100%;
        }

            div.k-edit-form-container div.editor-field textarea, input.k-textbox {
                width: 100%;
                max-width: none;
            }
    </style>
    <div class="k-edit-form-container" style="margin:auto;" >
        
            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@Html.LabelFor(model => model.MediaName)</label>
                                    <div class="append-icon">
                                        @Html.EditorFor(model => model.MediaName)@Html.ValidationMessageFor(model => model.MediaName)
                                        <i class="fa fa-barcode"></i>
                                    </div>
                                </div>
                            </div>

                    

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@Html.LabelFor(model => model.MediaDate)</label>
                                    <div >
                                        @Html.Kendo().DatePickerFor(model => model.MediaDate).Format("{0:dd/MM/yyyy}")@Html.ValidationMessageFor(model => model.MediaDate)
                                    </div>
                                </div>
                            </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(model => model.MediaTypeID)</label>
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.MediaTypeID)
    .HtmlAttributes(new { style = "width: 100%;" })
    .DataTextField("MediaTypeName")
    .DataValueField("MediaTypeID")
    .Filter("contains")
    .DataSource(source =>
    {
        source.Read(read =>
        {

            read.Action("GetMediaType", "Media");
        })
        .ServerFiltering(false);
    })


                    )
                    @Html.ValidationMessageFor(model => model.MediaTypeID)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(model => model.PartnerName)</label>
                <div class="append-icon">
                    @Html.EditorFor(model => model.PartnerName)@Html.ValidationMessageFor(model => model.PartnerName)
                    <i class="fa fa-barcode"></i>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(model => model.MediaNumber)</label>
                <div>
                    @Html.Kendo().NumericTextBoxFor(model => model.MediaNumber).Format("0")@Html.ValidationMessageFor(model => model.MediaNumber)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(model => model.minutes)</label>
                <div>
                    @Html.Kendo().NumericTextBoxFor(model => model.minutes).Format("0")@Html.ValidationMessageFor(model => model.minutes)
                </div>
            </div>
        </div>

     
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@Html.LabelFor(model => model.url)</label>
                <div class="append-icon">
                    @Html.EditorFor(model => model.url)@Html.ValidationMessageFor(model => model.url)
                    <i class="fa fa-barcode"></i>
                </div>
            </div>
        </div>

             
                     
                          
                       


                          
         
                  

                         
                           
       
                            
                

                    



                        </div>

      